<a href="https://colab.research.google.com/github/ssubbinn/BAEKJOON/blob/main/BAEKJOON_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1

In [2]:
print("Hello World!")

Hello World!

## 2

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [4]:
a, b = map(int, input().split())
print(a+b)

1 2
3

- map(function, iterable) -> 매개 변수 함수, 반복 가능한 자료형(리스트, 튜플) 
- input().split() -> 입력값을 2개 이상으로 구분해줌

## 3

두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [1]:
a, b = map(int, input().split())
print(a-b)

3 2
1

## 4

두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [2]:
a, b = map(int, input().split())
print(a*b)

1 2
2

## 5

두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [3]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

## 6

두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [5]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(int(a/b))
print(a%b)

7 3
10
4
21
2
1

## 7

준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [6]:
id = input("")
print(id+"??!")

joonas
joonas??!

## 8

ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [13]:
year = input()
print(int(year)-543)

2541
1998

## 9

동혁이는 오래된 창고를 뒤지다가 낡은 체스판과 피스를 발견했다.

체스판의 먼지를 털어내고 걸레로 닦으니 그럭저럭 쓸만한 체스판이 되었다. 하지만, 검정색 피스는 모두 있었으나, 흰색 피스는 개수가 올바르지 않았다.

체스는 총 16개의 피스를 사용하며, 킹 1개, 퀸 1개, 룩 2개, 비숍 2개, 나이트 2개, 폰 8개로 구성되어 있다.

동혁이가 발견한 흰색 피스의 개수가 주어졌을 때, 몇 개를 더하거나 빼야 올바른 세트가 되는지 구하는 프로그램을 작성하시오.

In [18]:
a=list(map(int, input().split()))
chess = [1, 1, 2, 2, 2, 8]
for i in range(6):
  print (chess[i]-a[i])

0 1 2 2 2 7
1
0
0
0
0
1

## 10

(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [20]:
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)
#같음

5 8 4
1
1
0
0

## 11

In [21]:
a = int(input())
b = int(input())

print(a * (b % 10))
print(a * ((b % 100) // 10))
print(a * (b // 100))
print(a * b)

472
385
2360
3776
1416
181720

## 12

고양이 출력

In [33]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

## 13

In [34]:
print("|\_/|")
print("|q p|   /}")
print('( 0 )"""\\')  
print('|"^"`    |')
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

## 14

In [35]:
print("         ,r'\"7")
print("r`-_   ,'  ,/")
print(" \\. \". L_r'")
print("   `~\\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |