<a href="https://colab.research.google.com/github/ssubbinn/BAEKJOON/blob/main/STEP_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [ ]:
N=int(input())

for i in range(1,10): #range 안에 쉼표
  print (N , "*", i, "=", N*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

## 2
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
T=int(input())

for i in range(T):
  a,b = map(int, input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

## 3

n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [4]:
n=int(input())
sum=0

for i in range(1,n+1):
  sum+=i
  
print(sum)

3
6

## 4
준원이는 저번 주에 살면서 처음으로 코스트코를 가 봤다. 정말 멋졌다. 그런데, 몇 개 담지도 않았는데 수상하게 높은 금액이 나오는 것이다! 준원이는 영수증을 보면서 정확하게 계산된 것이 맞는지 확인해보려 한다.

영수증에 적힌,

구매한 각 물건의 가격과 개수
구매한 물건들의 총 금액
을 보고, 구매한 물건의 가격과 개수로 계산한 총 금액이 영수증에 적힌 총 금액과 일치하는지 검사해보자.

In [6]:
X=int(input())
N=int(input())
price=0

for i in range(N):
  a, b = map(int, input().split())
  price+=a*b

if price==X:
  print("Yes")
else:
  print("No")

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

## 5
본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다.

Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

In [16]:
import sys
k = int(input())

for i in range(k):
    a, b= map(int,sys.stdin.readline().split())
    print(a+b)

5

ValueError: ignored

## 6

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [25]:
T = int(input())
for i in range(1,T+1):
  a, b= map(int,input().split())
  print("Case #" + str(i) + ":", a+b)

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

## 7

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [26]:
T = int(input())
for i in range(1,T+1):
  a, b= map(int,input().split())
  print("Case #" + str(i) + ":", a, "+", b, "=", a+b)

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

## 8
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [28]:
N = int(input())

for i in range(1,N+1):
  print ("*"*i)

5
*
**
***
****
*****

## 9

첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [30]:
N = int(input())

for i in range(1,N+1):
  print(" "*(N-i) + "*"*i)

5
    *
   **
  ***
 ****
*****

## 10

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

입력의 마지막에는 0 두 개가 들어온다.

In [31]:
while True:
    a, b = map(int, input().split())
    if (a == 0) & (b == 0):
        break
    else:
        print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

## 11

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

각 테스트 케이스마다 A+B를 출력한다.

In [32]:
while True:
    try:
        A, B = map(int, input().split())
        print(A+B)
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

## 12**
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [33]:
n = int(input()) 
num = n
count = 0

while True:
    a = num//10
    b = num%10 
    c = (a+b)%10
    num = (b*10)+c 
    
    count+=1
    if(num==n):
        break

print(count)

26
4