<a href="https://colab.research.google.com/github/ssubbinn/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_1~3%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1단계
- Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
a,b= map(int, input().split())
print(a+b)

1 5
6

- 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
a,b= map(int, input().split())
print(a-b)

6 2
4

In [ ]:
a,b= map(int, input().split())
print(a*b)

1 3
3

In [ ]:
a,b= map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

- 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [ ]:
id=input("")
print(id+"??!")

hello
hello??!

- ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다. 불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [ ]:
year = int(input())
print(year-543)

2541
1998

In [ ]:
2541-1998

543

(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [ ]:
a,b,c = map(int, input().split())
print((a+b)%c)

5 8 4
1

- 곱셈

In [ ]:
a,b = map(int, input().split())
b_first = b%10
b_second = (b%100)//10
b_third = b//100
print(a*b_first)
print(a*b_second)
print(a*b_third)
print(a*b_first+a*b_second*10+a*b_third*100)

472 385
2360
3776
1416
181720

- 꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!

In [ ]:
a,b,c = map(int, input().split())
print(a+b+c)

77 77 7777
7931

### 2단계
- 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

In [2]:
a,b = map(int,input().split())
if a<b:
  print ("<")
elif a>b:
  print (">")
else:
  print ("==")

1 2
<

- 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [8]:
score = int(input())

if 90 <= score <= 100:
    print("A")
elif 80 <= score < 90:
    print("B")
elif 70 <= score < 80:
    print("C")
elif 60 <= score < 70:
    print("D")
else:
    print("F")

86
B

- 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [11]:
year = int(input())
if (year // 4 ==0 and year // 100 != 0) or (year % 400 == 0):
  print (1)
else :
    print (0)

2020
0

- 점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

In [13]:
a,b = map(int,input().split())
if a>0 and b>0 :
  print (1)
if a<0 and b>0 :
  print (2)
if a<0 and b<0 :
  print (3)
if a>0 and b<0 :
  print(4)

12 5
1

- 이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

In [ ]:
H,M = map(int,input().split())

- 훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때, 오븐구이가 끝나는 시각을 계산하는 프로그램을 작성하시오.

In [17]:
a,b = map(int,input().split())
c = int(input())

a += c//60 # 시간
b += c%60 # 분

if b >= 60 :
    a += 1
    b -= 60
if a >= 24 :
    a -= 24

print('{} {}'.format(a, b))

14 50
30
15 20

In [18]:
a,b,c = map(int,input().split())
z=[a,b,c]
if a==b and b==c:
  print(10000+a*1000)
elif a!=b and b!=c and a!=c:
  print(max(z)*100)
else:
  if (a==b and b!=c) or (a==c and c!=b):
    print(1000+a*100)
  if a!=b and b==c:
    print(1000+b*100)

6 6 6
16000

### 3단계
- N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [25]:
a = int(input())
for i in range(1,10):
  print (a,"*",i,"=", a*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

- 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [26]:
T=int(input())
for i in range(T):
  a,b = map(int, input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

- n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [29]:
n = int(input())
a=0
for i in range(n+1):
  a+=i
print(a)

3
6

첫째 줄에는 영수증에 적힌 총 금액
$X$가 주어진다.

둘째 줄에는 영수증에 적힌 구매한 물건의 종류의 수
$N$이 주어진다.

이후
$N$개의 줄에는 각 물건의 가격
$a$와 개수
$b$가 공백을 사이에 두고 주어진다.

In [31]:
X = int(input())
N = int(input())

price = 0
for i in range(N):
  a,b = map(int, input().split())
  price+= a*b

if price==X:
  print("Yes")
else:
  print("No")

260000
4
20000 5
30000 2
10000 6
5000 8
1 2
No

- 각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [33]:
T=int(input())
for i in range(T):
  a,b = map(int, input().split())
  print("Case #", i+1, ":",a+b)

2
1 1
Case # 1 : 2
1 3
Case # 2 : 4

- 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

In [36]:
T=int(input())
for i in range(T):
  a,b = map(int, input().split())
  print("Case #",i+1, ":",a,"+",b, "=",a+b)

2
1 1
Case # 1 : 1 + 1 = 2
5 8
Case # 2 : 5 + 8 = 13

- 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [39]:
a = int(input())
for i in range(a+1):
  print ("*"*i)

3

*
**
***

- 오른쪽 정렬

In [40]:
a = int(input())
for i in range(a+1):
  print (" "*(a-i), "*"*i)

5

     *
    **
   ***
  ****
 *****

In [42]:
while True:
    a, b = map(int, input().split())
    if (a == 0) & (b == 0):
        break
    else:
        print(a+b)

1 1
2
2 3
5
0 0